.section-container {
  --width: 1280px;

  padding-right: calc((100% - var(--width)) / 2);
  padding-left: calc((100% - var(--width)) / 2);
}

@media screen and (width <= 1440px) {
  .section-container {
    --width: 960px;
  }
}

@media screen and (width <= 1100px) {
  .section-container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
