:root {
    --header-height: 70px;
    --font-primary: "Rajdhani", sans-serif;
    --font-secondary: inter, sans-serif;
    --color-accent: #b8336a;
    --color-accent-rgb: 184, 51, 106;
    --color-white: #f5f5f5;
    --color-dark: #272727;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
      0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

    @include bpMobile {
        --header-height: 48px;
    }
}