---
import i18n, { changeLanguage } from "i18next";
import type { GetStaticPaths } from "astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { PostList } from "@components/react/PostList/PostList";
import { getEntry } from "astro:content";
import { normalizePosts } from "@lib/postsHelpers";

changeLanguage("en");

const allPosts = normalizePosts(await getCollection("posts", (entry) => {
    return entry.slug.startsWith(i18n.language);
}));
const tags = (await getEntry("tags", "tags"));
export const prerender = false;
const chosenTag = Astro.url.searchParams.get('tag') || '';
---

<BaseLayout pageTitle="base64">
    <main class="page">
        <PostList client:load defaultValue={chosenTag} tags={tags} posts={allPosts} />
    </main>
</BaseLayout>
