/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url("./variables.css");
@import url("./view-transition.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./container.css");
@import url("./color-mode.css");

:root {
  --black: 15, 18, 25;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  font-size: 18px;

  scroll-behavior: smooth;
}

.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #abdafc;
  }
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
strong,
b {
  font-weight: 700;
}
p {
  margin-bottom: 1em;
}

.prose {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.prose img {
  max-width: 100%;
  width: 600px;
  margin: 24px auto;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  line-height: 1.2;
  font-weight: bold;
  margin: 0.5em 0;
}

.prose details {
  padding: 24px;
  border-radius: 12px;
  background: rgb(182 195 225);
  color: #0c2668;
}

.dark .prose details {
  background-color: rgb(48 52 62);
  color: theme("colors.white");
}

.prose summary {
  cursor: pointer;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.prose details *:nth-child(2) {
  margin-top: 24px;
}

.prose ol,
.prose p {
  margin-bottom: 24px;
  line-height: 160%;
  font-size: 1.2rem;
}
.prose a {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}
.prose a:hover {
  color: #abdafc;
}
.prose ol {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

table {
  line-height: 120%;
}

table :is(td, th) {
  border: 1px solid #00000033;
  padding: 0.9em;
}

th {
  background-color: #b2396b45;
  font-weight: bold;
}

tr:nth-child(even) td {
  background-color: #8ed8fc21;
}
tr:nth-child(odd) td {
  background-color: #8ed8fc21;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 3px 6px;
  color: #79b8ff;
  background-color: #24292e;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Courier New";
  white-space: nowrap;
}

code .line {
  font-family: "Courier New";
  font-size: 14px;
  margin-bottom: 4px;
  display: inline-block;
}
.dark code {
  background-color: #d7d7d7;
  color: black;
}

pre {
  padding: 16px;
  border-radius: 8px;
}
pre > code {
  all: unset !important;
}
blockquote {
  border-left: 4px solid theme(colors.accent.DEFAULT);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
  margin-bottom: 24px;
}
.astro-code {
  margin: 36px 0;
}

.dark .astro-code {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/* ::view-transition-old(root),
::view-transition-new(root) {
  animation: 2s nothing forwards linear;
} */

@keyframes nothing {
  from {
  }
  to {
  }
}

body {
  padding-top: var(--header-height);
}

main {
  padding-bottom: 60px;
  min-height: calc(100vh - var(--header-height));
}

/* Github comments */
.giscus {
  margin-top: 80px;
}

/* Media */
@media screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }

  code,
  code .line {
    font-size: 12px;
  }

  table {
    font-size: 14px;
  }
}
