.filters {
    position: sticky;
    top: calc(var(--header-height) * (1 - var(--header-collapsed)));
    left: 0;
    z-index: 2;
    margin-bottom: 24px;
    padding: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    background: #abdafc;
    transition: .3s;

    &__list {
        display: flex;
        gap: 16px;
    }

    @include bpMobile {
        padding: 12px 0;
        border-radius: 0;
    }
}



.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


@include dark {
    .filters {
        box-shadow: 0 0 5px 2px rgb(255 255 255 / 30%);
        background: theme('colors.dark');
    }
}