---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeIcon from "./ThemeIcon.astro";
import { TestComponent } from "./react/Test";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import SearchIcon from "@assets/icons/search.svg?raw";
import { getRouter } from "src/routes";
import i18n from "i18next";

const TAGS = ["frontend", "traveling", "css"];

const router = getRouter(i18n.language);
---

<header
  class="section-container bg-white dark:bg-dark flex justify-between shadow-md"
>
  <span class="text-accent text-[36px] sm:text-[24px] font-secondary font-black">
    <HeaderLink href={router.home}>{SITE_TITLE}</HeaderLink>
  </span>

  <div class="right flex gap-[36px] items-center">
    <div class="tags flex gap-[12px]">
      {TAGS.map((tag) => <span class="font-semibold underline">#{tag}</span>)}
    </div>
    <div class="system-settings flex gap-[16px] items-center">
      <LanguageSwitcher />
      <ThemeIcon />
    </div>
  </div>
</header>
<style lang="scss">
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
  }

  nav {
    width: 100%;
  }

  .tags {
    @include bpMobile {
      display: none;
    }
  }

</style>
